/* montserrat-regular - latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v15-latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  margin: 0 auto;
  font-size:16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #0B141D;
}

.container {
  padding-bottom: 6rem;
  padding-left: 2rem;
  padding-top: 6rem;
  background: #C7DCE8;
}

.gallery-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.gallery-wrap::after {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 70vh;
}

.galery-item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.galery-item:hover, .galery-item:active {
  flex: 7;
}

.galery-item-1 {
  background-image: url("img/e443087f50411befe3dc17b50a4decef.jpg");
}

.galery-item-2 {
  background-image: url("img/7dcb59288521bc6578788d83bb4be1fb.jpg");
}

.galery-item-3 {
  background-image: url("img/8e9e47ef70f285cea054952baad9f818.jpg");
}

.galery-lines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  float: right;
  margin-right: 2rem;
  width: 50%;
  height: 5vh;
}

.galery-line {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='3em' height='4px'><rect fill='%2300' x='0' y='0' width='50' height='2'/><rect fill='%23FDD418' x='1' y='2' width='50' height='2'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
  margin-top: 2rem;
}

.timetable-header {
  margin-right: 6rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-size: 100%;
  text-align: right;
  text-transform: uppercase;
}

.timetable-line {
  margin: 2rem;
  height: 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2'><rect fill='%23FDD418' x='0' y='0' width='2' height='2'/></svg>");
}

.timetable-wrap {
  cursor:pointer;
  padding: 0 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  height: 2rem;
}

.timetable-item{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-self: center;
          align-self: center;
}

.timetable-country{
  font-size: 190%;
}

.timetable-city{
  font-size: 100%;
  text-transform: uppercase;
  color: #B4B4B4;
}

.timetable-date{
  font-family: Montserrat;
  font-size: 100%;
}

.arrow-right{
  background-image: url('data:image/svg+xml;utf8,<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMin meet"><path fill="%23CDCDCD" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  align-self: auto;
}